/**
 * @format
 */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap");

.navbar-vertical .navbar-nav .nav-link.active::before,
.navbar-vertical.navbar-expand-md .navbar-nav .nav-link.active::before {
  border-left: none;
}

/* argon styles overrides */

.btn-outline-danger:hover,
.btn-outline-danger {
  border-color: red;
}

.btn-outline-danger:hover {
  background-color: red;
}

.btn-outline-danger {
  color: red;
}

.input-group-text {
  border: none;
  background: #6969691c;
  color: black;
}

.input-group {
  box-shadow: 0 1px 3px rgba(50, 50, 93, 0.15), 0 1px 0 rgba(0, 0, 0, 0.02);
}

body {
  font-family: "Manrope", sans-serif;
}

input {
  color: black !important;
}

.loader {
  width: 6rem;
}

.no-arrows::-webkit-outer-spin-button,
.no-arrows::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
  -moz-appearance: textfield;
}
.no-arrows {
  -moz-appearance: textfield;
}

/* Nav */
.active-link {
  border-left: 3px solid #f2583e;
  background-color: #ffe0dc;
  color: #fb6340 !important;
  font-weight: 700;
}

/* ============= Shop Settings ============= */
.theme-btn {
  color: #fe634e;
}
.theme-border {
  border-radius: 50px;
  height: 2rem;
  width: 8.5rem;
  padding: 0;
  font-size: 1rem;
  font-weight: 500;
  border-color: #fe634e;
}
.theme-active {
  background-color: #ffdbd7;
  border: none;
}
.theme-btn:hover,
.theme-btn:focus {
  color: white;
  background-color: #fe634e;
}

/* ============= Orders Page ============= */
.order-category-div {
  display: flex;
  overflow: auto;
  padding-bottom: 5px;
}
.order-category-div button {
  width: 100%;
}
@media (max-width: 557px) {
  .order-category-div button {
    width: 90px;
  }
}

/* ============= Order Details ============= */
.order-details-buyer-label {
  width: 200px;
}
.order-details-items {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  max-width: 600px;
}
.order-details-items-label {
  width: 40%;
  text-align: center;
}
.order-details-button {
  border: none;
  border-radius: 500px;
  background-color: #ffdcd8;
}
.order-details-button:hover {
  border-radius: 500px;
  background-color: #fe634e;
}
.order-details-status {
  margin-left: auto;
  margin-right: 0px;
}
@media (max-width: 568px) {
  .order-details-status {
    margin-left: 0px;
  }
}
.order-details-color-red {
  color: red;
}

/* Product delete button */
button.close {
  position: absolute;
  width: 20px;
  right: 30px;
  color: #fe634e;
  background-color: #ffdbd7;
  padding: 4px;
  border-radius: 18px;
  box-sizing: content-box;
  opacity: 1;
}

.close > span:not(.sr-only) {
  color: #fe634e;
}

.close:hover,
.close:focus {
  background-color: #fe634e;
  color: white;
}

.close:hover > span:not(.sr-only),
.close:focus > span:not(.sr-only) {
  color: white;
}

/* override Card styles */

.card-header:first-child {
  border-radius: 1rem 1rem 0 0;
}

.card {
  border-radius: 2rem;
}

/* performance */
.card-stats {
  cursor: pointer;
  background-color: #f8f9fa;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform, background-color;
}

.card-stats:hover {
  background-color: #fff;
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.card-stats:hover .h2 {
  color: #f2583e;
}

/* icon back */
.back-icon {
  border: none;
  background-color: transparent;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
}
.back-icon i {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.back-icon:hover i,
.back-icon:focus i,
.back-icon:active i {
  -webkit-transform: translateX(-4px);
  transform: translateX(-4px);
}
