.navbar-vertical .navbar-nav .nav-link.active::before,
.navbar-vertical.navbar-expand-md .navbar-nav .nav-link.active::before{
  border-left: none;
}

/* Product delete button */

button.close {
	position: absolute;
	width: 20px;
	right: 30px;
	color: #FE634E;
	background-color: #FFDBD7;
	padding: 4px;
	border-radius: 18px;
	box-sizing: content-box;
	opacity: 1;
}

.close > span:not(.sr-only) {
	color: #fe634e;
}

.close:hover,
.close:focus {
	background-color: #FE634E;
	color: white;
}

.close:hover > span:not(.sr-only), 
.close:focus > span:not(.sr-only) {
	color: white;
}

/* override Card styles */

.card-header:first-child {
	border-radius: 1rem 1rem 0 0;
}

.card {
	border-radius: 2rem;
}
